.Lorem_ipsum_dolor_sit_amet {
  font-size: 20px;
  font-family: "Raleway";
  color: rgb(199, 178, 153);
  text-align: left;
  position: absolute;
  left: 803.87px;
  top: 5573.198px;
  width: 257px;
  height: 19px;
  z-index: 343;
}
